# Dependencies
node_modules
npm-debug.log*

# Environment files
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git
.gitignore

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
.nyc_output

# Development files
README.md
docs
docker/